* {
  padding: 0;
  margin: 0;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fffce1;
  z-index: 999
}

html {
  overflow: hidden;
  background: #0e100f;
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
